*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
.container{
    padding: 60px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 3%;
}
.col{
    flex-basis: 24%;
}
.col img{
    width: 100%;
    transition: 0.5s;
}
.col img:hover{
    transform: scale(0.7) rotate(30deg);
}
#preview{
   top: 0;
   left: 0;
   position: absolute;
   background: rgba(5, 5, 5, 0.3);
   width: 100%;
   height: 140vh;
   /*display: none;*/
   z-index: 5;
}
#ProductImg{
    top: 20%;
    left: 30%;
    position: relative;
    height: 500px;
    width: 500px;
    border: 4px solid #000;
}
#close{
    top: 10px;
    right: 40px;
    position: absolute;
}
#prev{
    top: -10%;
    left: 30%;
    position: relative;
    transform: translateY(-50%) rotate(180deg);
    width: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 50%;
}
#next{
    top: -10%;
    left: 80%;
    position: relative;
    transform: translateY(-50%);
    width: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 50%;
}
.controller{
    top: 90%;
    left: 45%;
    position: absolute;
    transform: translateY(-50%);
    background: rgb(43, 40, 40);
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.7);
    height: 45px;
    width: 380px;
}
.controller small{
    color: #fff;
    top: 10px;
    left: 20px;
    position: relative;
}
.load-anime{
    background: #000;
    width: 250px;
    height: 20px;
    border-radius: 25px;
    top: -6px;
    left: 73px;
    overflow: hidden;
    position: relative;
}
.load-anime p{
    background: cyan;
    width: 50px;
    height: 20px;
    display: block;
    border-radius: 25px;
    animation: slide 2s linear infinite;
}
@keyframes slide{
    100%{
        transform: translateX(250px);
    }
}
.blink{
    background: #000;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: -21px;
    left: 93%;
    position: relative;
}
.blink span{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: aqua;
    animation: blink 1s linear infinite;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        box-shadow: 0 0 20px 20px aqua;
    }
}